<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IPSE_Assignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>System Time.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B69A167D1CC95E9C007D458E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B69A16941CC95E9D007D458E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B69A169F1CC95E9D007D458E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A18E851CE7453900B68258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
